@import "./styles/example.scss";

#fridge {
    color: purple;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#fridge:hover {
    background-color: aqua;
}

.hidden{
    display: none;
}

.ing-page{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
}

.ingredients {
    list-style: none;
    border-style: solid;
}

.recipe-page{
    display: block;
    justify-content: center;
    align-items: center;
    border-style: solid;
}

.drawer-page {
    border-style: solid;
}

#drawer{
    border-style: solid;
    display: flex;
}


#oven {
    color: purple;
    display: flex;
    justify-content: right;
    align-items: end;
    border-style: solid;
}


#oven:hover {
    background-color: aqua;
}


